body {
	padding: 0;
	margin: 0;
}
canvas {
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px;
}

.controls {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.controls input,
.controls button {
	width: 100%;
	margin-bottom: 16px
}


[data-show=false] {
	display: none
}